//* scss-compile-options: --cache "projectCopy/sass/.sass-cache"

body {
	//height:100%;
	width:100%;
	margin: 0;
	padding: 5%;
	font-family: Arial;
	background-color: gray !important; 
	overflow:auto;
	position:absolute;
	min-width:250px;

	.formContainer{
		margin-bottom: 5%;
	}

}

#bodyPanel{
	height:100%;
	padding: 1em 0em 1em 0em;
	margin:0;
	max-width:550px;

	border-radius: 1em;
	background-color:lightblue;

	overflow:auto;
	margin-bottom: 5%;

}

.bodyPanel {
	height:100%;
	padding: 1em 0em 1em 0em;
	margin:0;
	max-width:550px;

	border-radius: 1em;
	background-color:lightblue;

	overflow:auto;
	margin-bottom: 5%;
}

.headerPanel {
	text-align: center;
}

#submit{
	border-radius:.5em;
	border-style:solid;
	border-color:darkgray;

}

.row{
	padding: 0px;
	margin-left: 0px !important;
	margin-right:0px !important;
	input{
		border-radius:.25em;
		border:none;
		margin:2% 0;
		line-height:2em;
	}

	.glowing-border-wrong{ 
	    box-shadow: inset 0 0 10px #F75252;
	    //background-color: #FFAAAA;
	}

	.glowing-border-correct{
		box-shadow: inset 0 0 10px #2FAD33;
	    //background-color: white;
	}

	.valid{
		//box-shadow: inset 0px 0px 25px 5px rgba(17,240,17, .7);
		background-color: lightgreen; 
	}
}



#events{
	height:100%;
	//width:100%;
	//margin: 0;
	//padding: 5%;
	font-family: Arial;
	background-color: lightblue !important; 
	border-radius: 1em;
	min-width:250px;
	margin: 0;
	margin-top: 5%;
	//overflow:auto;
	//position:absolute;
}

.btn {
	padding: 4px 12px !important;
	margin: .4em;
	float: right !important;
}
.fullWidthInput {
	width: 100%;
}

ul {
	list-style-type:none;
	padding:0;
	li {
		text-align: left;
	}
}

.center-text {
	text-align: center;
}

.center-button {
    left:-6%;
}





