body {
	//height:100%;
	width:100%;
	margin: 0;
	padding: 5%;
	font-family: Arial;
	background-color: gray !important; 
	overflow:auto;
	position:absolute;
	min-width:250px;

	.formContainer{
		margin-bottom: 5%;
	}

}

#bodyPanel{
	//height:100%;
	margin:0;
	padding:0;
	max-width:550px;

	border-radius: 1em;
	background-color:lightblue;

	overflow:auto;
	margin-bottom: 5%;

}

#submit{
	border-radius:.5em;
	border-style:solid;
	border-color:darkgray;

}

.row{
	input{
		border-radius:.25em;
		border:none;
		margin:2% 0;
		padding:0 2%;
		line-height:2em;
		width:100%;

		
	}

	.glowing-border-wrong{ 
	    box-shadow: inset 0 0 10px #F75252;
	    //background-color: #FFAAAA;
	}

	.glowing-border-correct{
		box-shadow: inset 0 0 10px #2FAD33;
	    //background-color: white;
	}

	.valid{
		//box-shadow: inset 0px 0px 25px 5px rgba(17,240,17, .7);
		background-color: lightgreen; 
	}
}

.col-xs-6{
	margin:auto;
	padding:0;
}

#events{
	height:100%;
	//width:100%;
	//margin: 0;
	//padding: 5%;
	font-family: Arial;
	background-color: lightblue !important; 
	border-radius: 1em;
	min-width:250px;
	margin: 0;
	margin-top: 5%;
	padding: 5%;
	//overflow:auto;
	//position:absolute;
	//min-width:250px;
}






