
<div class="row" id="bodyPanel">
    <h3 class="center-text">Let's Create an Event!</h3>
    <div class="col-xs-12">
        <div class="col-xs-12">
            <input class="fullWidthInput" type='text' ng-model="name" {{event.name}} placeholder='Event Name' autofocus autocomplete="on" />
        </div>
        <div class="col-xs-12">
            <input class="fullWidthInput" {{event.type}} ng-model="type" placeholder='Event Type' autocomplete="on" />
        </div>

        <div class="col-xs-12">
            <input class="fullWidthInput" type='text' ng-model="host" {{event.host}} placeholder='Host' autocomplete="on" />
        </div>

        <div class="col-xs-12">
            <input class="fullWidthInput" type='date' ng-model="startDate" {{event.startDate}} placeholder='Start Date' autocomplete="on" />
        </div>

        <div class="col-xs-12">
            <div class="col-xs-6">
                <input class="fullWidthInput" type="time" ng-model="startTime" {{event.startTime}} placeholder='Start Time' autocomplete="on" />
            </div>
            <div class="col-xs-6">
                <input class="fullWidthInput" type="time" ng-model="endTime" {{event.endTime}} placeholder='End Time' autocomplete="on" />
            </div>
        </div>

        <div class="col-xs-12">
            <input class="fullWidthInput" type="text" ng-model="location" {{event.location}} placeholder='Location' autocomplete="on" />
        </div>

        <div class="col-xs-12">
            <input class="fullWidthInput" type="text" ng-model="discription" {{event.discription}} placeholder='Discription' autocomplete="on" />
        </div>
    </div>
</div>

<div class="headerPanel" id="bodyPanel">
    <div class="row col-xs-12">
        <h4>Guest List</h4>

        <div class="row col-xs-12">
            <ul>
                <li ng-repeat="guest in guests">
                    {{guest.name}}
                </li>
            </ul>
        </div>

        <div>
            <input class="col-xs-9" ng-model="guest" {{event.guestList}} placeholder='add Guest' />
            <button type="button" class="btn btn-primary col-xs-2 col-xs-offset-1" role="button" ng-click="addGuest();">Add</button>
        </div>
    </div>
</div>

<div class="bodyPanel">
    <div class="row col-xs-12">
        <submit class="btn btn-primary col-xs-10 col-xs-offset-1" type="submit" ng-click="createEvent();">Create Event!</submit>
    </div>
</div>