<div class="row" >
    <div id="bodyPanel" ng-repeat="event in stuffs" ng-click="print(event)">
        <div class="row" id="{{event.eName}}">
            <div class="row">
                <div class="col-xs-12">
                    <h3>{{event.name}}</h3>
                </div>
                <div class="col-xs-12">
                    <p>Event Type: {{event.type}}</p>
                </div>

                <div class="col-xs-12">
                    <p>Host: {{event.hostedBy}}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <p>Event Date: {{event.startDate}}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <p>Start Time: {{event.startTime}}</p>
                </div>
                <div class="col-xs-6">
                    <p>End Time: {{event.endTime}}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <p>Location: {{event.location}}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-10">
                    <p>Discription: {{event.discription}}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-10">
                    <p>Add Guest: {{event.guest}}</p>
                </div>
            </div>
        </div>
    </div>
</div>